Repository PureStorage-OpenConnect/pure-fa-openmetrics-exporter, pull requests merged in 2023-08, with the labels that each got.

#67 [docs] - new accepted metric - purefa_hw_component_power_watts
  specification/metrics/purefa-metrics.md
Labels: documentation, metrics/accepted

#66 [docs] - new accepted metric - purefa_hw_controller_uptime_sec
  specification/metrics/purefa-metrics.md
Labels: documentation, metrics/accepted

#65 [docs] - new accepted metric - purefa_array_object_limit
  specification/metrics/purefa-metrics.md
Labels: documentation, metrics/accepted

#73 Added specific User-Agent to the REST client
  internal/openmetrics-exporter/alerts_collector_test.go
  internal/openmetrics-exporter/arrays_collector_test.go
  internal/openmetrics-exporter/arrays_performance_collector_test.go
  internal/openmetrics-exporter/arrays_space_collector_test.go
  internal/openmetrics-exporter/dirs_performance_collector_test.go
  internal/openmetrics-exporter/dirs_space_collector_test.go
  internal/openmetrics-exporter/hardware_collector_test.go
  internal/openmetrics-exporter/host_connections_collector_test.go
  internal/openmetrics-exporter/hosts_performance_collector_test.go
  internal/openmetrics-exporter/hosts_space_collector_test.go
  internal/openmetrics-exporter/network_interfaces_performance_collector_test.go
  internal/openmetrics-exporter/pod_replica_links_lag_collector_test.go
  internal/openmetrics-exporter/pod_replica_links_performance_collector_test.go
  internal/openmetrics-exporter/pods_performance_collector_test.go
  internal/openmetrics-exporter/pods_performance_replication_collector_test.go
  internal/openmetrics-exporter/pods_space_collector_test.go
  internal/openmetrics-exporter/volumes_performance_collector_test.go
  internal/openmetrics-exporter/volumes_space_collector_test.go
  internal/rest-client/flasharray_client.go
Labels: enhancement

#71 v1.0.8 - Add token support in the default docker image
  Makefile
  README.md
  build/docker/Dockerfile
  go.mod
  go.sum
Labels: documentation, enhancement
